<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.mapper.ReviewMapper">

	<insert id="insert" parameterType="com.example.domain.ReviewDTO">
		INSERT INTO review (REV_NUM, BO_NUM, AC_TITLE, ROOM_NUM, CONTENT,
		REVIEW_DATE, UPDATE_DATE)
		VALUES (#{rev_Num}, #{bo_Num}, #{ac_Title}, #{room_Num}, #{content},
		SYSDATE, SYSDATE)
	</insert>



	<select id="read" parameterType="java.lang.Long"
		resultType="com.example.domain.ReviewDTO">
		SELECT REV_NUM, BO_NUM, AC_TITLE, ROOM_NUM, CONTENT,
		REVIEW_DATE,
		UPDATE_DATE 
		FROM review
		WHERE REV_NUM = #{rev_Num}
	</select>

	<update id="update" parameterType="com.example.domain.ReviewDTO">
		UPDATE review
		SET BO_NUM =
		#{bo_Num}, AC_TITLE = #{ac_Title}, ROOM_NUM = #{room_Num},
		CONTENT =
		#{content}, REVIEW_DATE = SYSDATE, UPDATE_DATE =
		SYSDATE
		WHERE REV_NUM =
		#{rev_Num}
	</update>

	<delete id="delete" parameterType="java.lang.Long">
		DELETE FROM review
		WHERE
		REV_NUM = #{rev_Num}
	</delete>
 
	<select id="getAllReviews"
		resultType="com.example.domain.ReviewDTO">
	
		select r.rev_num, b.email_id, r.room_num, r.content, r.update_Date  from review r
		left join booking b on b.bo_num=r.bo_num 
	</select>
  




 <select id="findByAccommodationAcid" parameterType="java.lang.String" resultType="com.example.domain.ReviewDTO">
    SELECT r.rev_num, r.bo_num, r.ac_title, r.room_num, r.content, r.review_date, r.update_date, b.email_id AS customer_email
    FROM review r
    JOIN booking b ON r.bo_num = b.bo_num
    JOIN accommodation ac ON b.ac_id = ac.ac_id
    JOIN member m ON ac.email_id = m.email_id AND m.type_code = '2'
    JOIN member m1 ON b.email_id = m1.email_id AND m1.type_code = '1'
    WHERE ac.ac_id = #{ac_id}
</select>


   <select id="accommodation_detail" resultType="com.example.domain.accommodation_detailDTO">
    	SELECT a.ac_id, r.room_num , a.ac_title, a.ac_info, a.ac_address, r.ro_info, r.ro_name, r.ro_basic_count, r.ro_max_count, 
    		checkin, checkout, r.room_price
    		, a.email_id, a.bu_name
		FROM accommodation a
		LEFT JOIN room r ON r.ac_id=a.ac_id
		WHERE a.ac_id=#{ac_id}
    </select>

</mapper>
