<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
 
 <mapper namespace="com.example.mapper.RoomMapper">

 
 
 	<select id="getList" resultType="com.example.domain.RoomDTO">
 		select * from room where room_num>0
 	</select>
 	
	<!-- 객실 등록 -->
 	<insert id="insertroom">
		INSERT INTO 
			room (ac_id, ro_name, ro_basic_count, ro_max_count, ro_info, ro_count)
		VALUES 
			(#{ac_id}, #{ro_name}, #{ro_basic_count}, #{ro_max_count}, #{ro_info}, #{ro_count})
 	</insert>
 	
 	<!-- 등록한 객실의 사진 주소 등록 -->
 	<insert id="insertro_pic">
		INSERT INTO 
		     ro_pic (pic_num, room_num, pic_name) 
		VALUES
		     (ro_pic_num_seq.nextval, #{room_num}, #{pic_name})
 	</insert>
 	

	<update id="updateroom">
		update
 			room
 		set
 			ro_name=#{ro_name}, ro_basic_count=#{ro_basic_count}, 
 			ro_max_count=#{ro_max_count}, ro_info=#{ro_info}, ro_count=#{ro_count}, room_price= #{room_price}
 		where
 			room_num=#{room_num}
 	</update>
	
	
	<delete id="deleteroom">
		delete room where room_num=#{room_num}
 	</delete>
 	
 	
 	<!-- 숙소 목록페이지에서 숙소를 클릭했을 때 숙소의 모든 방을 보여준다(숙소 상세페이지) -->
	<select id="searchByac_id" resultType="com.example.domain.RoomDTO">
        select * from room
        where
        	ac_id =#{ac_id}
    </select>
    
    <!-- 숙소 상세페이지에서 방을 클릭했을 때 특정 방 1개를 보여준다(방 상세페이지) -->
    <select id="searchBy_room_num" resultType="com.example.domain.RoomDTO">
        select * from room
        where
        	room_num=#{room_num}
    </select>
    
    <!-- 가장 최근의 방의 room_num -->
    <select id="latest_room_of_room_num" resultType="com.example.domain.RoomDTO">
        select * from room
        where
        	room_num=(select max(room_num) from room)
    </select>
    
<!--     이미지 주소를 img 태그로 읽을 수 있게 변환해야한다! -->
    <select id="get_list_of_ro_pic" resultType="com.example.domain.Ro_picDTO">
    	select pic_num, room_num, 
    		REPLACE(pic_name,'\','/') AS pic_name from ro_pic where room_num=#{room_num}
    </select>
    
    
 </mapper>
 
 
 
 
 